- if user
  %h2 Audiobooks
  %ul#books{ 'data-ping_identifier' => Time.now.to_i.to_s }
    - readings = current_user.readings
    - Book.all.each do |book|
      - reading = readings.detect{|reading| reading.book_id == book.id }
      %li{ 'data-book_id' => book.id }
        - position = reading ? reading.position : 0

        %iframe.sc-widget{ src: "http://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/#{book.soundcloud_id}", scrolling: "no", frameborder: "no", 'data-position' => position }
        - if reading
          %a.on_readmill{ href: reading.permalink, target: '_blank' }
            on
            %img{ src: 'http://readmill.com/favicon.ico' }
            Readmill

        %div.clearfix
          %h2 Your highlights
          .highlight
            %form{ method: 'post', action: "/highlight" }
              %textarea{ name: 'comment' }
              %button{ type: 'submit', value: 'Add highlight on the current position'}
                Highlight on Readmill
                %img{ src: '/highlight.png' }

          - if reading
            .highlights

- else
  Please
  %a{ href: '/auth' } sign in with your Readmill account.
