- if user
  %p Hello, #{user.readmill_fullname}.
  %p
    You can
    %a{ href: 'sign-out' } sign out


  - Book.all.each do |book|
    = book.soundcloud_id
    = book.readmill_id
- else
  Hello, please
  %a{ href: '/auth' } sign in with your Readmill account
