!!!
%html
  %head
    %title Soundmill - Soundcloud audio books on Readmill
    %link{ rel: 'stylesheet', href: '/stylesheets/vendor/bootstrap.min.css' }
    %link{ rel: 'stylesheet', href: '/stylesheets/style.css' }
  %body
    %header.clearfix
      .soundmill
        %img{ src: '/logo.png' }
        %h1 Soundmill
        #tagline Read Soundcloud audio books and track them on Readmill
      .user
        - if user
          %p
            Hi,
            #{user.readmill_fullname}!
            %ol
              %li
                %a{ href: 'https://readmill.com/you' } You on Readmill
              %li
                %a{ href: 'sign-out' } Sign out

    #content= yield

    %footer
      Developed by
      %a{href: 'http://twitter.com/amelyun'} Melissa Yung
      and
      %a{href: 'http://dira.ro'} Irina Dumitrascu - dira

      at the
      %a{href: 'http://berlingeekettes.github.com/hackathon/'} Berlin Geekettes hackaton
      in March 2013.


    %script{ src: "http://code.jquery.com/jquery-1.9.1.min.js" }
    %script{ src: "http://w.soundcloud.com/player/api.js" }
    %script{ src: "/scripts/audiobooks.js" }
