html {
  margin: 0;
  padding: 0;
  background: black;
}
body {
  width: 960px;
  margin: 8px auto;
  padding: 0;
  background: white;
  -webkit-border-radius: 8px;
}
#content {
  min-height: 200px;
  padding: 2em;
}
#tagline {
  font-size: 1.2em;
}
a {
  color: #B24700;
}

header, footer {
  background-color: #00ced9;
  padding: 1em 2em;
}
header {
  margin-bottom: 2em;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
footer {
  margin-top: 2em;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

header .soundmill {
  width: 650px;
  float: left;
}
header .user {
  width: 250px;
  float:right;
  text-align: right;
}
header .user li {
  list-style: none;
}

#books > li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

#books li iframe {
  width: 100%;
  height: 165px;
}
#books li .highlight {
  float: left;
  margin-left: 170px;
  margin-top: 10px;
  width: 355px;
  text-align: right;
}
#books li .highlight textarea {
  width: 340px;
  height: 80px;
  display: block;
}
#books li .highlights {
  float: right;
  width: 320px;
  margin-top: 10px;
}
#books li .highlights ol {
  margin-left: 0;
}

#books li .highlights li {
  margin-bottom: 10px;
  cursor: pointer;
  list-style: none;
}
